:root {
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --white-color: #ffffff;
    --cornflower-color: #E7E9FC;
    --iris-color: #4d5ae5;
    --ocean-color: #404BBF;
    --cloud-color: #f4f4fd;
    --slate-color: #434455;
    --lightslate-color: #8E8F99;
    --green-color: #31D0AA;
    --dairy-color: #FCFCFC;
    --heading-one: 56px;
    --heading-two: 36px;
    --heading-three: 20px;
    --paragraph-text-size: 16px;
    --font-family-roboto: 'roboto', san-serif;
    --font-family-raleway: 'raleway', san-serif;
}


body {
    overflow-x: hidden;
}

/* Mobile Menu */

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 999;

    /* transform: translateX(100%);
    transition: transform 250ms ease-in-out; */
}

.hamburger-navigation-menu {
    display: block;
    margin-bottom: 284px;
}

.hamburger-navigation-menu_link {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.hamburger-contact-links {
    display: block;
}

.hamburger-navigation-menu_item:not(:last-child) {
    margin-bottom: 40px;
}


/* .menu-container.is-open {
    transform: translateX(0);
} */

.hamburger-menu-container {
    position: relative;
}

.hambuger {
    fill: var(--navy-blue-color);
}

.menu-toggle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 22px;
}

.hamburger {
    fill: var(--navy-blue-color);
    position: absolute;
    z-index: 9999;
    width: 32px;
    height: 22px;
}

@media (min-width: 768px) {
    /* .menu-container {
        display: none;
    } */
}

@media (max-width: 768px) {

    .navigation-menu,
    .contact-links {
        display: none;
    }
}






/* Responsive Layout */
@media screen and (min-width:320px) {
    .section {
        width: 100%;
    }
}

/* Tablet  */
@media (min-width: 429px) and (max-width: 768px) {
    .header {
        padding: 24px 16px;
    }

    .section {
        padding: 96px 16px;
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    /* Hero Section */
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        font-size: 56px;
        margin-bottom: 36px;
    }

    /* Benefits Section */
    .benefits_item {
        width: 356px;

    }

    .benefits_item_tablet-view:not(:nth-last-child(-n+2)) {
        margin-bottom: 72px;
    }

    .benefits {
        justify-content: center;
        flex-wrap: wrap;
    }

    .benefits-icon-container {
        display: none;
    }

    .benefits-title {
        font-size: 36px;
        font-weight: 700;
    }

    .benefits-description {
        text-align: left;
        font-weight: 500;
    }

    /* Services Section */
    .services-section {
        display: none;
    }

    /* Our Team Section */
    .our-team_list {
        justify-content: center;
    }

    .our-team-list_item:not(:nth-last-child(-n+2)) {
        margin-bottom: 64px;
    }

    /* Customer Section */
    .customer-client-list {
        justify-content: center;
    }

    .customer-client-item:not(:nth-last-child(-n+3)) {
        margin-bottom: 72px;
    }

}

/* Mobile */
@media screen and (max-width: 428px) {
    .header {
        padding: 24px 16px;
    }

    .container {
        width: 428px;
        margin: 0 auto;
        padding: 0;
    }

    .section {
        padding: 96px 16px;
        display: flex;
        flex-wrap: wrap;
    }

    /* Hero Section */
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        font-size: 36px;
        margin-bottom: 72px;
    }

    /* Benefits Section */
    .benefits {
        display: block;
    }

    .benefits_item:not(:last-child) {
        margin-bottom: 72px;
    }

    .benefits-icon-container {
        display: none;
    }

    .benefits-title {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    .benefits-description {
        text-align: left;
        font-weight: 500;
    }

    /* Services Section */
    .services-section {
        display: none;
    }

    /* Our Team Section */
    .our-team_list {
        display: flex;
        justify-content: center;
    }

    .our-team-list_item:not(:last-child) {
        margin-bottom: 72px;
    }

    /* Customer Section */
    .customer-client-list {
        justify-content: center;
    }

    .customer-client-item:not(:nth-last-child(-n+2)) {
        margin-bottom: 72px;
    }


    /* Porfolio Page */



    /* Footer */
    .footer {
        padding: 96px 16px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-container {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 428px;
    }

    .column1-container {
        margin-bottom: 72px;


    }

    .column1-container a {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .footer-text {
        display: flex;
        justify-content: center;
    }

    .column2-container {
        margin-bottom: 72px;
    }

    .footer-social-text {
        text-align: center;
    }

    .footer-social-icon {
        display: flex;
        justify-content: center;

    }

    .footer-form {
        display: block;
    }

    .form-field {
        margin-bottom: 16px;
    }
}




@media screen and (max-width: 320px) {
    body {
        overflow: hidden;
    }
}












@media screen and (max-width: 1158px) {}